body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calendar {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.calendar-header {
  margin-bottom: 20px;
}

.calendar-days {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}

.day {
  width: calc(100% / 7);
  padding: 5px; /* Add padding to create space between days */
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

/* Add styles for the navigation arrows */
.nav-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-month, .next-month {
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
}

.current-date {
  background-color: #007bff; /* Highlight color for the current date */
  color: white;
  border-radius: 50%;
  padding: 4px;
}

#current-month{
  padding-left: 20px;
}